body {
    overflow: hidden;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px 0;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 50%;
    max-width: 200px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin: 0 5px;
}

a:hover {
    opacity: 0.7;
}

.container {
    padding: 16px;
    text-align: center;
}

.btn {
    background-color: #000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
    transform: scale(0.8);
}

.profile-img {
    border-radius: 40%;
    width: 160px;
    height: 170px;
}
.profile-img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.social {
    margin-top: 20px;
}

.social a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    background: #ff6f61;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0;
    overflow: hidden;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
               moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
               moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
               materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}


@keyframes init {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 25px;
        height: 25px;
        opacity: 5;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 100%;
    }
}

@keyframes moveUp {
    0% {
        background: #ff6f61;
        top: 100%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
        background: #e0e0e0;
    }
}

@keyframes materia {
    0% {
        background: #e0e0e0;
    }
    50% {
        border-radius: 15px;
    }
    100% {
        width: 330px;
        height: 630px;
        background: #ffffff;
        border-radius: 12px;
    }
}

@media (max-width: 768px) {
    .mobile-view {
        width: 100px;
        height: 400px;
    }
}